        <div id="wrapper">
            <div id="main">
                <div id="dummy" style="position: absolute; z-index: 1000">
                    &nbsp;
                </div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        // initial accordion slide-down
                        accordion_used = false
                        $('#dummy').fadeOut(500, function(){
                            if (accordion_used == false) {
                                $('#create-slide .opener').addClass("active")
                                $('#create-slide .slide').slideDown(400)
                                $('#work-slide .opener').removeClass("active")
                                $('#work-slide .slide').slideUp(400)
                            }
                        });
                        
                        // accordion mouseover
                        $('.opener').mouseover(function(){
                            accordion_used = true
                            if (!$(this).hasClass("active")) {
                                $('.slide').stop(true, true)
                                $('.opener').each(function(){
                                    $(this).removeClass("active")
                                    $(this).next().slideUp("fast")
                                })
                                $(this).addClass("active")
                                $(this).next().slideDown("fast")
                            }
                        });
                    });
                </script>
                <ul class="accordion">
                	<!-- Discover -->
                	<li id="_discover-slide">
                        <span class="opener"><%= t('homediscovre') %></span>
                        <div class="slide" style="display: none">
                            <div class="content">
                                <h2><%= t('homediscoverT1') %></h2>
                                	<%= t('homediscoverT2') %> 
                            </div>
                        </div>
                    </li>
                	<!-- learn -->
                    <li id="_learn-slide">
                        <span class="opener"><%= t('homelearn') %></span>
                        <div class="slide" style="display: none">
                            <div class="content">
                                <h2><%= t('homelearnT1') %></h2>
                                	<%= t('homelearnT2') %>
                            </div>
                        </div>
                    </li>
					<!-- Practice -->
                    <li id="_practice-slide">
                        <span class="opener"><%= t('homepractice') %></span>
                        <div class="slide" style="display: none">
                            <div class="content">
                                <h2><%= t('homepracticeT1') %></h2>
									<%= t('homepracticeT2') %>
                            </div>
                        </div>
                    </li>
 					<!-- Return -->
                   <li id="_return-slide">
                        <span class="opener active"><%= t('homereturn') %></span>
                        <div class="slide slide-bottom">
                            <div class="content">
                                <h2><%= t('homereturnT1') %></h2>
                                <%= t('homereturnT2') %>
                            </div>
                        </div>
                    </li>
 					<!-- Return -->
                       </ul>
                <div class="rightpane"><%= t('homeT1') %>
                </div>
            </div>
			
			<div align="center" valign="center" >
				<img style="padding:5px" src="/images/CSM_small_tbg.png"/> 
				<img style="padding:5px" src="/images/CSP_small_tbg.png"/>   
				<img style="padding:9px" src="/images/<%= t('homeamsponsorImg') %>"/>
			</div>
      </div>