<div id="wrapper">
    <div id="main">
        <h1><%= t('coachingagile') %></h1>
        <p>
            <%= t('coachingagileT1') %>
        </p>
        <p>
             <%= t('coachingagileT2') %>
        </p>
        <p>
            <%= t('coachingagileT3') %>
        </p>
        <img align=center src="/images/<%= t('coachingagileI1')%>" />
    </div>
</div>