<div id="wrapper">
    <div id="main">
        <h1><%= t('company') %></h1>
		<%= t('companyvision') %>
		<%= t('companymission') %>
		<%= t('companyvalues') %>		
		<%= t('companyapproch') %>
    </div>
</div>
